* {
	margin: 0;
	padding: 0;
	outline: none;
	border: none;
  	box-sizing: border-box;
  	list-style: none;
  	transition: all 1s ease-out;
}
html, body {
	height: 100%;
	background-image: linear-gradient(150deg, #3c6dc4 30%, #113474 55%, #031639 90%);
}
#btn-icon {
	width: 50px;
    height: 50px;
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 25px;
    line-height: 50px;
    border-radius: 50%;
    cursor: pointer;
    color: #fff;
    text-align: center;
    z-index: 100;
}
#btn-icon.fa-times {
	transform: rotate(180deg);
	background-color: #fff;
	color: #727272;
}
#nav-menu {
	width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 99;
    background-image: linear-gradient(150deg, #FF512F 20%, #FF512F 50%, #DD2476 90%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    clip-path: circle(0% at 98% 4%);
}
#nav-menu.active {
	transition: all 1s ease-out;
	clip-path: circle(150% at 98% 4%);
}
#nav-menu ul li {
	padding-bottom: 30px;
}
#nav-menu ul li a {
	font-size: 25px;
	color: #fff;
	padding-bottom: 30px;
	text-decoration: none;
}
#nav-menu ul li a::before {
	content: attr(data-text);
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);
	font-size: 5em;
	color: #727272;
	pointer-events: none;
	font-weight: bold;
	letter-spacing: .4em;
	opacity: 0;
	z-index: -1;
}
#nav-menu ul li a:hover::before {
	letter-spacing: 0em;
	opacity: .1;
	transition: all .3s ease-out;
}
@media only screen and (max-width: 600px) {
	#nav-menu {
    	clip-path: circle(0% at 92% 5%);
	}
	#nav-menu.active {
		clip-path: circle(150% at 92% 5%);
	}
}